@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* { font-family: 'Noto Sans KR', sans-serif; }
body {
	margin: 0 auto;
	text-align: center;
	min-width:1280px; 
}
ul { 
	list-style-type:none; 
	padding:0;  
	align-items: center; 
}
img { vertical-align:middle; }
#container { padding:20px 0; }
table {
	margin: 0 auto;
	border-collapse: collapse;
}
table th, table td {
	border: 1px solid #8080ff; 
}
table tr { height: 46px }
table.tb-list tr { height: 38px }
table th{
	background-color: rgb(198, 179, 213);
}
table td a:hover, .grid li a:hover { font-weight:bold  }
table td { padding-top:5px; padding-bottom:5px;}
/* table tr:hover { background-color:#f6f6f6 } */
a { cursor:pointer; }
.text-left { text-align:left }
.text-right { text-align:right }
.text-center { text-align:center }

input {
	height: 30px;
	padding: 0 10px;
	font-size: 15px;
	border: 1px solid #8080ff; 
}
input[type=radio], input[type=checkbox]{
	width: 18px;
	vertical-align: middle;
	margin:0 5px 2px;
}
input:focus, textarea:focus {
	outline:none;
	border-color: #8070ff;
}
label:not(:last-child){
	margin-right: 20px
}
select {
	height:32px;
	cursor:pointer;
	padding-left:10px;
	border:1px solid #8080ff; 
}
textarea { 	padding: 0 10px;
		   	font-size: 15px;
			border: 1px solid #8080ff;
			resize: none; 
}
input[name=title], textarea[name=content] {
	width: calc(100% - 42px);
}

textarea[name=content] {
	height: 250px;
}
.font-btn { font-size:20px;}
.font-b { font-size:20px; color: #8080ff;}
#delete, #attach-file { display:none; }

a:link, a:visited { color:inherit; text-decoration:none; }

.btnSet { margin-top:20px; margin-bottom:20px; }
a.btn-fill, a.btn-empty {
	height:28px;
	padding: 3px 15px; 
	border:1px solid #8040ff;
	border-radius:3px; 
	box-shadow:2px 2px 3px #8050ff; 
} 
a.btn-fill{
	background-color: #8040ff;	
	color:#fff;
}
a.btn-empty {
	background-color: #fff;
	color:#3367d6;	
}
a.btn-fill-s{
	padding: 2px 10px;
	border:1px solid #8080ff;
	border-radius:3px;
	background-color:#8090ff;
	color:#8070ff;
	font-size:13px;
	font-weight:bold;
	box-shadow:2px 2px 2px #400080;
}

.tb-wrap {
	overflow-y: auto;	margin: 0 auto; 
}

.center{
	position:absolute;
	left:50%; top:50%;
	transform:translate(-50%, -50%);  
}

#list-top{
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}
#list-top ul {
	display: flex;
}
#list-top ul li:not(:first-child) { margin-left:5px }

/* 페이지관련스타일 */
.page-list {
	display: flex; justify-content: center;
	line-height: 36px;
}	
.page-list a, .page-list span{
	width:38px; height:38px;
	border: 1px solid transparent;
	margin: 1px;
}

.page-list span { border: 1px solid #8080ff; color: #8080ff; }
.page-list a:hover { background-color: rgba(128, 128, 255, 0.1); color: #8080ff}

.img-box { display: flex; align-items: center; }
.img-box span { margin-right: 10px; }
#preview img { max-height:32px; }

ul.grid {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
}
ul.grid li {
	width: 232px;
	height: 150px;
	border: 1px solid #8080ff;
	margin-right: 10px;
	box-sizing: border-box;	
}

ul.grid li:nth-child(5) ~ li {
	margin-top: 10px;
}

ul.grid li:nth-child(5n) {
	margin-right:0
}
ul.grid li div:not(:nth-child(2)) {
	padding: 10px;
}
ul.grid li div::nth-child(2) {
	padding-left: 10px;
	padding-right: 10px;
}
ul.grid li div:first-child{
	text-align: left;
	height: 60px;
} 

#popup-background{
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity:0.3;
	display:none;
}
#popup {
	display:none;
	width: 350px;
	height: 350px;
	border: 2px solid #666;
}
#popup > img { 
	width: 100%;
	height: 100%;
};


.w-pct40 { width:40% }
.w-pct50 { width:50% }
.w-pct60 { width:60% }
.w-pct70 { width:70% }
.w-pct80 { width:80% }
.w-pct90 { width:90% }
.w-pct100 { width:100% }

.w-px30 { width:30px }
.w-px40 { width:40px }
.w-px50 { width:50px }
.w-px60 { width:60px }
.w-px70 { width:70px }
.w-px80 { width:80px }
.w-px90 { width:90px }
.w-px100 { width:100px }
.w-px110 { width:110px }
.w-px120 { width:120px }
.w-px140 { width:140px }
.w-px160 { width:160px }
.w-px180 { width:180px }
.w-px200 { width:200px }
.w-px250 { width:250px }
.w-px300 { width:300px }
.w-px400 { width:400px }
.w-px500 { width:500px }
.w-px600 { width:600px }
.w-px800 { width:800px }
.w-px1000 { width:1000px }
.w-px1100 { width:1100px }
.w-px1200 { width:1200px }

