

/* ===========================
--- Bottom_Btn_Group
============================ */
.bottom_btn_group {
  position: relative;
  text-align: center;
  background-color: transparent;
  padding: 0 32px;
}
.bottom_btn_group button {
  position: relative;
  margin: 0 4px;
  padding: 16px 28px;
  border: solid 2px #94bc32;
  border-radius: 32px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
}
.bottom_btn_group button i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 0 0 4px;
  background-image: url(../kimimages/step_icons.png);
  background-size: 160px;
  background-position: -112px 0;
}
.bottom_btn_group button i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  background-image: url(../kimimages/ico52s.png);
  background-size: 200px;
  background-repeat: no-repeat;
}
.bottom_btn_group button i.home {
  background-position: 0 0;
}
.bottom_btn_group button i.solution {
  background-position: -20px 0;
}
.bottom_btn_group button i.guide {
  background-position: -40px 0;
}
.bottom_btn_group button i.contact {
  background-position: -60px 0;
}
.bottom_btn_group button i.download {
  background-position: -80px 0;
}
.bottom_btn_group button span {
  vertical-align: middle;
  font-family: "pinetreeL";
  font-size: 16px;
  color: #87ad2a;
}
@media (max-width: 767px) {
  .bottom_btn_group button {
    display: block;
    width: 100%;
    margin: 0 0 16px;
  }
  .bottom_btn_group button:last-child {
    margin: 0;
  }
}

/* ===========================
--- 서브페이지
============================ */
.sub_wrap {
  max-width: 960px;
  margin: 81px auto 0;
  padding: 40px 32px 0;
  text-align: left;
}
.sub_wrap h1.sub_title {
  display: inline-block;
  margin: 0 0 32px;
  padding: 0px 4px 8px 0;
  border-bottom: solid 4px #94bc32;
  font-family: "october9_3";
  font-weight: 100;
  font-size: 18px;
  color: #94bc32;
}
.sub_wrap .contens {
  width: 100%;
  margin: 0 0 88px 0;
  font-size: 0;
}
.sub_wrap .contens.left {
  display: inline-block;
  width: 47%;
  margin: 0 3% 0 0;
}
.sub_wrap .contens.right {
  display: inline-block;
  width: 47%;
  margin: 0 0 0 3%;
}
.sub_wrap .contens .image {
}
.sub_wrap .contens .image img {
  width: 100%;
}
.sub_wrap .contens .inbox {
}
.sub_wrap .contens .inbox i {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 56px;
  margin: 0 0 16px 0;
  background-image: url(../kimimages/icon_56.png);
  background-size: 560px;
}
.sub_wrap .contens .inbox i.company {
  background-position: 0 0;
}
.sub_wrap .contens .inbox i.ceo {
  background-position: -56px 0;
}
.sub_wrap .contens .inbox i.history {
  background-position: -112px 0;
}
.sub_wrap .contens .inbox i.location {
  background-position: -168px 0;
}
.sub_wrap .contens .inbox i.solution {
  background-position: -224px 0;
}
.sub_wrap .contens .inbox i.effect {
  background-position: -280px 0;
}
.sub_wrap .contens .inbox i.status {
  background-position: -336px 0;
}
.sub_wrap .contens .inbox i.application {
  background-position: -394px 0;
}
.sub_wrap .contens .inbox i.system {
  background-position: -451px 0;
}
.sub_wrap .contens .inbox i.price {
  background-position: -504px 0;
}
.sub_wrap .contens .inbox i.process {
  background-position: 0 -56px;
}
.sub_wrap .contens .inbox h2 {
  margin: 0;
  font-family: "Montserrat_Bold";
  font-size: 22px;
  font-weight: 100;
  color: #505c3d;
}
.sub_wrap .contens .inbox h3 {
  margin: 0 0 12px;
  font-family: "october9_3";
  font-size: 16px;
  font-weight: 100;
  color: #505c3d;
}
.sub_wrap .contens .inbox h4 {
  margin: 0 0 6px;
  font-family: "october9_3";
  font-size: 15px;
  font-weight: 100;
  color: #212a18;
}
.sub_wrap .contens .inbox p {
  margin: 0 0 16px;
  word-break: keep-all;
  font-family: "Dreamgothic_3";
  font-size: 15px;
  font-weight: 100;
  line-height: 23px;
  color: #212a18;
}
.sub_wrap .contens .inbox p:last-child {
  margin: 0;
}
.sub_wrap .contens .inbox p.title {
  margin: 24px 0 6px 0;
  font-family: "october9_3";
  font-size: 15px;
  font-weight: 100;
  color: #212a18;
}
.sub_wrap .contens .inbox p.title i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 8px 0 0;
  background-image: url(../kimimages/ico_24_brown.png);
  background-size: 160px;
}
.sub_wrap .contens .inbox p.title i.check {
  background-position: -48px -16px;
}
@media (max-width: 767px) {
  .sub_wrap {
    padding: 40px 24px 0;
  }
  .sub_wrap .contens {
    max-width: 400px;
    margin: 0 auto 88px;
    display: flex;
    flex-direction: column;
  }
  .sub_wrap .contens.left {
    display: block;
    width: 100%;
    margin: 0 0 32px;
  }
  .sub_wrap .contens.right {
    display: block;
    width: 100%;
    margin: 0;
  }
  .sub_wrap .contens.left.order {
    order: 2;
    margin: 0;
  }
  .sub_wrap .contens.right.order {
    order: 1;
    margin: 0 0 32px;
  }
}



/* 솔루션소개*/
.sub_wrap .contens .inbox .solution_banner {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.sub_wrap .contens .inbox .solution_banner .image {
  width: 100%;
  max-width: 960px;
  height: 400px;
  background-image: url(../kimimages/banner_img_solution.png);
  background-position: right 0;
}
.sub_wrap .contens .inbox .solution_banner .title_wrap {
  position: absolute;
  top: 140px;
  left: 52px;
}
.sub_wrap .contens .inbox .solution_banner .title_wrap h1 {
  font-family: "rise_M";
  color: #546247;
  font-size: 24px;
  font-weight: 100;
}
.sub_wrap .contens .inbox .solution_banner .title_wrap h1 strong {
  font-size: 32px;
  font-weight: 100;
}
.sub_wrap .contens .inbox .solution_banner .title_wrap h1 small {
  font-size: 20px;
  font-weight: 100;
}
.sub_wrap .contens .inbox .solution_banner .title_wrap .coment {
  position: relative;
  display: inline-block;
  padding: 0 28px;
}
.sub_wrap .contens .inbox .solution_banner .title_wrap .coment::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../kimimages/quotes_left.png);
}
.sub_wrap .contens .inbox .solution_banner .title_wrap .coment::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url(../kimimages/quotes_right.png);
}
.sub_wrap .contens .inbox .solution_banner .title_wrap .coment p {
  margin: 0;
  font-family: "SeoulHanRiver_L";
  color: #546247;
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
}
.sub_wrap .contens .inbox .solution_banner .title_wrap .coment p.sign {
  position: absolute;
  margin: 12px 0 0;
  font-family: "Dreamgothic_3";
  color: #546247;
  font-size: 15px;
  font-weight: 100;
}
.sub_wrap .contens .inbox .effect_wrap {
  margin: 0 -1%;
}
.sub_wrap .contens .inbox .effect_wrap .inner {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin: 0 1%;
}
.sub_wrap .contens .inbox .effect_wrap .kimimages {
  width: 100%;
  margin: 0 0 24px 0;
}
.sub_wrap .contens .inbox .effect_wrap .kimimages img {
  width: 100%;
}
.sub_wrap .contens .inbox .slideshow-container {
  max-width: 1280px;
  height: 216px;
  position: relative;
  margin: auto;
  padding: 24px;
  border: solid 1px #e0e0e0;
  border-radius: 8px;
  background-image: url(../kimimages/slideshow_bg.png);
}
.sub_wrap .contens .inbox .slideshow-container.list {
  display: inline-block;
  width: 100%;
  height: 216px;
}
.sub_wrap .contens .inbox .slideshow-container .list .thumb_img {
  float: left;
  width: 380px;
  height: 216px;
  border-radius: 8px;
  background-size: cover;
}
.sub_wrap .contens .inbox .slideshow-container .list .comment {
  margin-left: 380px;
  padding: 32px;
  word-break: keep-all;
  font-family: "notosans_L";
}
.sub_wrap .contens .inbox .slideshow-container .list .comment h1 {
  margin: 0 0 16px 0;
  font-family: "october9_3";
  font-size: 16px;
  font-weight: 100;
  color: #212a18;
}
.sub_wrap .contens .inbox .slideshow-container .list .comment p {
  margin: 0;
  font-size: 15px;
  font-weight: 100;
  color: #212a18;
}
.sub_wrap .contens .inbox .carousel_wrap ul.navi li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dddedb;
}
.sub_wrap .contens .inbox .carousel_wrap ul.navi li.active {
  background-color: #94bc32;
  cursor: pointer;
}
.sub_wrap .contens .inbox .mySlides {
  display: none;
}
.sub_wrap .contens .inbox .dote_navi {
  position: absolute;
  left: 432px;
  bottom: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sub_wrap .contens .inbox .dote_navi .dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #dddedb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.sub_wrap .contens .inbox .dote_navi .active,
.dot:hover {
  background-color: #94bc32;
}
.sub_wrap .contens .inbox .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* 슬라이드액션*/
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.sub_wrap .merit {
  margin: 0 0 96px;
}
.sub_wrap .merit h2 {
  margin: 0 0 12px;
  font-family: "notosans_L";
  font-size: 20px;
  font-weight: 600;
  color: #546247;
}
.sub_wrap .merit p {
  margin: 0 0 24px;
  word-break: keep-all;
  font-family: "notosans_L";
  font-size: 16px;
  font-weight: 100;
  color: #212a18;
}
.sub_wrap .about_solution {
  font-size: 0;
  margin: 0 0 80px;
}
.sub_wrap .about_solution .image {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  text-align: center;
}
.sub_wrap .about_solution .image img {
  width: 100%;
  max-width: 480px;
}
.sub_wrap .about_solution .conts {
  display: inline-block;
  width: 46%;
  margin: 0;
  padding: 0 2%;
  vertical-align: middle;
}
.sub_wrap .about_solution .conts h2 {
  margin: 0 0 4px;
  font-family: "notosans_L";
  font-size: 18px;
  font-weight: 600;
  color: #546247;
}
.sub_wrap .about_solution .conts p {
  margin: 0 0 16px;
  word-break: keep-all;
  font-family: "notosans_L";
  font-size: 16px;
  font-weight: 100;
  color: #212a18;
}
.sub_wrap .about_solution .conts p.stitle {
  margin: 0 0 4px;
  font-weight: 600;
  color: #212a18;
}
.sub_wrap .about_solution .conts button {
  display: inline-block;
  margin: 0;
  padding: 8px 24px;
  border: 0;
  border-radius: 44px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  background: #94bc32;
  cursor: pointer;
}
@media (max-width: 959px) {
  .sub_wrap .contens .inbox .solution_banner .title_wrap {
    left: 28px;
    width: 256px;
  }
}
@media (max-width: 767px) {
  .sub_wrap .contens .inbox .solution_banner .image {
    background-position: -462px 0;
  }
  .sub_wrap .contens .inbox .solution_banner .title_wrap {
    position: initial;
    width: auto;
    height: 132px;
    margin: 24px 0 0;
  }
  .sub_wrap .contens .inbox .solution_banner .title_wrap h1 {
    font-size: 20px;
  }
  .sub_wrap .contens .inbox .solution_banner .title_wrap h1 strong {
    font-size: 26px;
  }
  .sub_wrap .contens .inbox .solution_banner .title_wrap h1 small {
    font-size: 17px;
  }
  .sub_wrap .contens .inbox .effect_wrap {
    margin: 0 -4%;
  }
  .sub_wrap .contens .inbox .effect_wrap .inner {
    width: 42%;
    margin: 0 4% 48px;
  }
  .sub_wrap .contens .inbox .slideshow-container {
    height: auto;
  }
  .sub_wrap .contens .inbox .slideshow-container .list .thumb_img {
    float: none;
    width: 100%;
    height: 180px;
  }
  .sub_wrap .contens .inbox .slideshow-container .list .thumb_img img {
    width: 100%;
    height: auto;
  }
  .sub_wrap .contens .inbox .slideshow-container .list .comment {
    margin-left: 0;
    padding: 20px 20px 48px;
  }
  .sub_wrap .contens .inbox .slideshow-container .list .comment h4 {
    font-size: 16px;
  }
  .sub_wrap .contens .inbox .slideshow-container .list .comment p {
    font-size: 15px;
  }
  .sub_wrap .contens .inbox .dote_navi {
    left: 48px;
    bottom: 32px;
  }
}



/* ===========================
--- Down Load Label
============================ */
download_label {
  display: table;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border: solid 2px #94bc32;
  background-color: #ffffff;
  box-shadow: 8px 8px 8px 0px rgb(0 0 0 / 2%);
}
download_label div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
download_label div p {
  margin: 0px auto 8px;
  font-family: "smile_B";
  color: #94bc32;
  font-size: 16px;
  font-weight: 600;
}
download_label div .download_group {
  display: inline-block;
  margin: auto;
}
download_label div .download_group .vertical_bar {
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 24px;
  margin: auto 8px;
  background: rgba(148, 188, 50, 0.4);
}
download_label div .download_group button {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  padding: 0px;
  border: 0px;
  background: url(../kimimages/download_icon.png);
  background-size: 64px;
  cursor: pointer;
  outline: none;
}
download_label div .download_group button.appstore {
  background-position: 0px 0px;
}
download_label div .download_group button.googleplay {
  background-position: -32px 0px;
}
@media (max-width: 1023px) {
  download_label {
    width: 142px;
    height: 142px;
  }
  download_label div p {
    font-size: 20px;
    margin: 0px auto 6px;
  }
  download_label div .download_group .vertical_bar {
    height: 24px;
    margin: auto 1px;
  }
  download_label div .download_group button {
    width: 32px;
    height: 32px;
    background-size: 56px;
  }
  download_label div .download_group button.appstore {
    background-position: 0px 0px;
  }
  download_label div .download_group button.googleplay {
    background-position: -28px 0px;
  }
}
@media (max-width: 767px) {
  download_label {
    width: 128px;
    height: 128px;
  }
  download_label div p {
    font-size: 16px;
    margin: 0px auto 4px;
  }
  download_label div .download_group .vertical_bar {
    height: 24px;
    margin: auto 1px;
  }
  download_label div .download_group button {
    width: 32px;
    height: 32px;
    background-size: 64px;
  }
  download_label div .download_group button.appstore {
    background-position: 0px 0px;
  }
  download_label div .download_group button.googleplay {
    background-position: -32px 0px;
  }
}

/* ===========================
--- Footer
============================ */
footer {
  position: relative;
  padding: 96px 0px;
  text-align: center;
  background: #20231a;
}
footer logo {
  display: inline-block;
  padding: 0px;
  vertical-align: top;
  text-align: left;
}
footer logo i.mongddang {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  vertical-align: middle;
  background-size: 40px;
  background-image: url(../kimimages/logo_mongddang_company.png);
}
footer logo span.mongddang {
  vertical-align: middle;
  font-family: "rise_M";
  color: rgba(255, 255, 255, 0.35);
  font-size: 26px;
  font-weight: 100;
}
footer info {
  display: inline-block;
  padding-left: 64px;
  vertical-align: top;
  text-align: left;
  font-family: "pinetreeL";
  color: rgba(255, 255, 255, 0.35);
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
}
footer info ul {
  list-style: none;
  margin: 0 0 16px;
  padding: 0px;
}
footer info ul.social_group {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0;
}
footer info ul.social_group li {
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
  cursor: pointer;
}
footer info ul.social_group li:first-child {
  margin-left: 0px;
}
footer info ul.social_group li a {
  display: block;
  width: 38px;
  height: 38px;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.14);
  background: #3f4a2c;
  opacity: 0.7;
  color: rgba(255, 255, 255, 0.35);
}
footer info ul.social_group li.boss a {
  width: auto;
  padding: 0px 16px 0px 0px;
  border-radius: 24px;
}
footer info ul.social_group li.boss a span {
  display: inline-block;
  vertical-align: middle;
  font-family: "october93";
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
}
footer info ul.social_group li.boss a:hover i {
  background-image: url(../kimimages/ico_24_orange.png);
}
footer info ul.social_group li.boss a:hover span {
  color: #ffffff;
}
footer info ul.social_group li.kakao a {
  width: auto;
}
footer info ul.social_group li.kakao a img {
  position: relative;
  top: -2px;
  height: 46px;
}
footer info ul.social_group li a:hover {
  opacity: 1;
}
footer info ul.social_group li a i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 9px;
  background-size: 200px;
  background-image: url(../kimimages/ico_24_orange.png);
}
footer info ul.social_group li a i.facebook {
  background-position: 0px 0px;
}
footer info ul.social_group li a i.instargram {
  background-position: -20px 0px;
}
footer info ul.social_group li a i.youtube {
  background-position: -40px 0px;
}
footer info ul.social_group li a i.ceo {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 8px 4px 8px 12px;
  background-image: url(../kimimages/ico_24_orange.png);
  background-size: 200px;
  background-position: -80px 0px;
}
footer .certification_mark {
  display: inline-block;
  margin: 0 0 0 28px;
}
@media (max-width: 1279px) {
  footer {
    padding: 64px 0px;
  }
  footer logo i.mongddang {
    width: 28px;
    height: 28px;
    background-size: 28px;
  }
  footer logo span.mongddang {
    font-size: 20px;
  }
  footer info {
    font-size: 15px;
  }
}
@media (max-width: 1023px) {
  footer logo {
    display: block;
    padding: 0px 0px 32px;
    text-align: center;
  }
  footer info {
    display: block;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  footer .certification_mark {
    margin: 24px 0 0;
  }
}
@media (max-width: 767px) {
  footer {
    padding: 40px 0px;
  }
  footer logo {
    padding: 0px 0px 20px;
  }
  footer logo i.mongddang {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }
  footer logo span.mongddang {
    font-size: 18px;
  }
  footer info ul.social_group li {
    margin-left: 6px;
  }
  footer info ul li {
    margin-bottom: 2px;
  }
}

/* ===========================
--- Header
============================ */
/* Create a sticky/fixed navbar */
#navbar {
  z-index: 1;
  position: fixed;
  top: 0px;
  bottom: auto;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  padding: 20px 0px;
  border-bottom: solid 0px #94bc32;
  text-align: left;
  font-size: 0px;
  background-color: transparent;
  transition: 0.3s;
}
#navbar.border {
  border-bottom: solid 1px #94bc32 !important;
  background-color: #ffffff !important;
  transition: 0.3s;
}
/* Style the logo */
#navbar #logo {
  display: inline-block;
  width: 108px;
  height: 40px;
  background-size: cover;
  transition: 0.3s;
}
#navbar #logo a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0px;
  cursor: pointer;
}
/* Links */
#navbar #link_menu {
  display: inline-block;
  float: right;
  padding: 2px 0px;
  list-style: none;
  text-align: right;
}
#navbar #link_menu li {
  display: inline-block;
  padding: 0 18px;
  line-height: 36px;
}
#navbar #link_menu li:last-child {
  display: none;
}
#navbar #link_menu li a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "october9_2";
  font-size: 14px;
  color: #55781b;
  text-decoration: none;
  cursor: pointer;
}
#navbar #link_menu li i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0 8px 0;
  background-image: url(../kimimages/ico52s.png);
  background-size: 200px;
  background-repeat: no-repeat;
}
#navbar #link_menu li i.home {
  background-position: 0;
}
#navbar #link_menu li i.solution {
  background-position: -20px 0;
}
#navbar #link_menu li i.guide {
  background-position: -40px 0;
}
#navbar #link_menu li i.contact {
  background-position: -60px 0;
}
#navbar #link_menu li button {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  font-family: "october9_2";
  font-size: 14px;
  color: #55781b;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
}
#navbar #menu_icon {
  display: none;
  float: right;
  width: 32px;
  height: 32px;
  margin: 4px 0;
  padding: 0;
  list-style: none;
  text-align: right;
  background-image: url(../kimimages/menu_icon.png);
  background-size: 32px;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 767px) {
  #navbar #link_menu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 64px 40px !important;
    border: solid 12px #94bc32;
    background: rgba(255, 255, 255, 0.96);
  }
  #navbar #menu_icon {
    display: inline-block;
  }
  #navbar #link_menu li {
    display: block;
    text-align: center;
    line-height: 64px;
    border-bottom: dotted 1px #94bc32;
  }
  #navbar #link_menu li:last-child {
    display: block;
    border-bottom: none;
  }
  #navbar #link_menu li button {
    line-height: 64px;
  }
  #navbar #link_menu li button.close {
    float: inherit;
    width: 44px;
    height: 44px;
    line-height: 40px;
    margin: 12px auto;
    border: solid 2px rgb(148, 188, 50);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }
}


/* ===========================
--- Common
============================ */
.inner_wrap {
  position: relative;
  max-width: 960px;
  height: 100%;
  margin: auto;
  padding: 0px 52px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 768px;
  text-align: center;
  overflow: hidden;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0px;
  padding: 0px;
  word-break: keep-all;
}
@media (max-width: 1919px) {
  .inner_wrap {
    padding: 0px 32px;
  }
  section {
    min-height: 668px;
  }
}
@media (max-width: 767px) {
  .inner_wrap {
    padding: 0px 16px;
  }
  section {
    min-height: 520px;
  }
}

